{% extends 'base.html' %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">About Us</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            Welcome to Aloud Bookstore
          </p>
        </div>
      </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p style="text-align: justify;">
                        <br/><br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed justo eget nisl eleifend dictum vitae sagittis orci. Curabitur ut felis quis lectus ultricies rutrum. Aenean id libero nec dolor rutrum fringilla at vitae eros. Nullam ut urna sapien. Praesent luctus est vitae libero faucibus, ut imperdiet eros fringilla. Cras quam nisi, commodo non neque eget, maximus finibus est. Suspendisse at eleifend nisi, hendrerit tempus magna. Suspendisse mattis bibendum dui, non commodo nibh dignissim elementum. Duis eget suscipit est, nec egestas neque. Cras eros mi, imperdiet nec mi ut, scelerisque sagittis libero.
                        <br/><br/>

Pellentesque scelerisque, nisl ut sodales ultricies, nunc libero tempus felis, ac elementum velit magna id metus. Cras ex sem, accumsan ut semper a, molestie non tortor. Integer commodo aliquet risus id congue. Nulla malesuada odio ut lectus posuere pulvinar. Nulla at justo at elit elementum convallis. Donec quis ligula non ligula finibus sodales. Mauris finibus tempor quam a porta.
<br/><br/>
                    </p>
                </div>
            </center>
        </div>
    </div>

{% endblock %}