<!-- Navigation-->
    <nav class="navbar navbar-expand-lg" style="background: #0a1f44;">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Aloud</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" style="color: white;" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>

          {% if user.is_authenticated %}

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Profile</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: #0a1f44;">
                <li><a class="dropdown-item" href=#><i class="bi bi-person-fill fs-3"></i><span class="fs-5"> Hi {{ user }}</span></a></li>
                <li><hr class="dropdown-divider" /></li>

                <li><a class="dropdown-item" href="{% url 'update_user' %}">Edit Profile</a></li>

                <li><a class="dropdown-item" href="{% url 'update_info' %}">Update Details</a></li>

                <li><a class="dropdown-item" href="{% url 'update_password' %}">Change Password</a></li>
                
                
              </ul>
            </li>


            {% if user.is_superuser %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Dashboard</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: #0a1f44;">
                <li><a class="dropdown-item" href=#>Dashboard</a></li>
                <li><hr class="dropdown-divider" /></li>

                <li><a class="dropdown-item" href="{% url 'booklist_dash' %}">View Products</a></li>

                <li><a class="dropdown-item" href="{% url 'add_book_dash' %}">Add Product</a></li>

                <li><a class="dropdown-item" href="{% url 'categorylist_dash' %}">View Categories</a></li>

                <li><a class="dropdown-item" href="{% url 'create_category_dash' %}">Create Categories</a></li>

                <li><a class="dropdown-item" href="{% url 'userslist_dash' %}">Users</a></li>

                <li><a class="dropdown-item" href="{% url 'customers_dash' %}">Customers</a></li>

                <li><a class="dropdown-item" href="{% url 'orders_dash' %}">Orders</a></li>

                <li><a class="dropdown-item" href="{% url 'shipped_dash' %}">Shipped Orders</a></li>

                <li><a class="dropdown-item" href="{% url 'not_shipped_dash' %}">Un-Shipped Orders</a></li>
              </ul>
            </li>
          {% endif %}  


            
            
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

          {% else %}

            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>

          {% endif %}
            
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Categories</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: #0a1f44;">
                <li><a class="dropdown-item" href="{% url 'shop' %}">All Products</a></li>
                <li><a class="dropdown-item" href="{% url 'category_summary' %}">All Categories</a></li>
                <li><hr class="dropdown-divider" /></li>

                {% for category in categories %}

                <li><a class="dropdown-item" href="{% url 'category' category %}">{{category}}</a></li>
                
                {% endfor %}
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <a href="{% url 'cart_summary' %}" 
            style="text-decoration: none; color: rgb(255, 255, 255);">
            <i class="bi-cart-fill fs-2" style="margin-top: 5px;"></i>
              <span class="badge rounded-pill fs-6" 
              style="margin-left: -0.9rem; margin-bottom: -10px; padding-top: 0.3em; padding-bottom: 0.3em; background: rgb(83, 83, 83);"
              id="cart_quantity">
              {{cart|length}}
            </span>
            </a>
          </form>
        </div>
      </div>
    </nav>

    <style>
      .container a {
        color: white;
        transition: color 0.3s ease;
      }

      .container a:hover {
        color:rgb(183, 180, 177);
      }

      .nav-item a {
        color: white;
        transition: color 0.3s ease;
      }

      .nav-item a:hover {
        color:rgb(74, 72, 70);
      }

      
    </style>