{% extends 'base.html' %}
{% block content %}

    

    <div class="container">
        <div class="row">
            <center>
                <div class="col-12">
                    
<br/><br/>
<h1>Un-Shipped Items</h1>
<br/><br/>
<div>
    <table class="table table table-striped table-hover">
  <thead style="background-color: #0a1f44;">
    <tr style="color: white;">
      <th scope="col">Order</th>
      <th scope="col">Price</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Date Ordered</th>
      <th scope="col">Go To</th>
      <th scope="col">Shipped</th>
    </tr>
  </thead>
  <tbody>
    {% for item in orders %}
    <tr>
      <td>{{item.id}}</td>
      <td>₹ {{item.amount_paid}}</td>
      <td>{{item.full_name}}</td>
      <td>{{item.date_ordered}}</td>
      <td><a href="{% url 'orders' item.id %}" class="btn btn-primary btn-sm">Order {{item.id}}</a></td>
      <td>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="shipping_status" value="true">
            <input type="hidden" name="num" value={{item.id}}>
            <button type="submit" class="btn btn-success btn-sm">Mark Shipped</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br/><br/><br/><br/>


</div>
                    
                </div>
            </center>
        </div>
    </div>

{% endblock %}