{% extends 'base.html' %} {% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Update Details</h1>
      <p class="lead fw-normal text-white-50 mb-0">Update Your Billing Details Here</p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br /><br />
        <div style="margin-bottom: 10px; margin-left: -590px;">
        <strong>Billing Information:</strong>
        </div>
        <form method="POST" action="{% url 'update_info' %}">
          {% csrf_token %}
          
          

          {{ info_form.as_p }}

          
          

          <br/><br/>
          <div style="margin-bottom: 10px; margin-left: -575px;">
          <strong>Shipping Information:</strong>
          </div>
          {{ shipping_form.as_p }}

          <button type="submit" class="btn btn-secondary">
            Update Details
          </button>
          
        </form>

        <br /><br /><br /><br /><br /><br />
      </div>
    </center>
  </div>
</div>

{% endblock %}
