{% extends 'base.html' %}
{% load cart_extras %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Shopping Cart</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            View Your Cart
          </p>
        </div>
      </div>
    </header>
    <!-- Section-->
    <section>
      
        <br/><br/><br/><br/>

              <div class="container">

                {% if cart_products %}

{% for product in cart_products %}

     <center><div class="card mb-3" style="width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src= "{{ product.image.url }}" class="img-fluid rounded-start" alt="..." style="height: 260px; margin-left: -35px; width: 300px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text" style="color: rgb(98, 95, 95);">{{product.book_id}}</p>
        <h2 class="card-title">{{product.name}}</h2>
        <h5 class="card-title" style="font-weight: 400;">{{product.author}}</h5>

        

        {% if product.is_sale %}
            <!-- Product price-->
             
             
            <strike>
            <h6 style="font-weight: 300;"> ₹ {{product.price}}
            </strike>&nbsp;
            ₹ {{product.sale_price}} </h6>
        {% else %}
            <h6 style="font-weight: 300;"> ₹ {{product.price}}</h6>
            

        {% endif %}

        
<!--
                <div class="col-md-2">
  <div class="d-flex align-items-center gap-2">
    <label for="quantitySelect" class="mb-0">Quantity:</label>
    <select class="form-select form-select-sm w-auto" id="select{{product.id}}">

      {% for key, value in quantities.items %}

      {% if key == product.id|slugify %}


      

      <option selected>{{value}}

        {% endif %}

      {% endfor %}

      </option>


      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>

      
    </select>
  </div>
</div>
-->

<div class="col-md-2">
              <div class="d-flex align-items-center gap-2">
                <label for="quantitySelect" class="mb-0">Quantity:</label>
                <select class="form-select form-select-sm w-auto" id="qty-cart">
  {% for i in 1|to:product.stock %}
    <option value="{{ i }}">{{ i }}</option>
  {% endfor %}
</select>

              </div>
            </div>
        
<div style="margin-top: 15px;">
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>

        <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Update</button>

        <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Remove</button>
</div>
        
        
      </div>
    </div>
  </div>
</div>
</center>





{% endfor %}


<div style="display: flex;
  justify-content: space-between;
  align-items: center;">
<div align = "left" style="width: 50vw; margin-left: 60px;">
<h3 style="color: grey;">Total: ₹ {{totals}}</h3>
</div>
<div align = "right" style="width: 50vw; margin-right: 60px;">
<a href="{% url 'checkout' %}" type="button" class="btn btn-success">Checkout</a>
</div>
</div>

        {% else %}

        <br/><br/><br/><br/>
        

        <h1 style="text-align: center; color: gray;">Your Cart is Empty...</h1>

        {% endif %}

    </div>

        
        
        
      </div>
      <br/><br/><br/><br/><br/><br/>
    </section>


    <script>
//Update cart
      $(document).on('click', '.update-cart', function(e){
        e.preventDefault();

        //grab product id
        var productid = $(this).data('index');

        $.ajax({
          type: 'POST',
          url: "{% url 'cart_update' %}",
          data: {
            product_id: $(this).data('index'),
            product_qty: $('#select' + productid + ' option:selected').text(),
            csrfmiddlewaretoken:'{{csrf_token}}',
            action:'post'
          },

          success: function(json){
            location.reload();
          },

          error: function(xhr, errmsg, err){

          }
        });
      })

      //Delete item from cart

      $(document).on('click', '.delete-product', function(e){
        e.preventDefault();

        $.ajax({
          type: 'POST',
          url: "{% url 'cart_delete' %}",
          data:{
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{csrf_token}}',
            action: 'post'
          },

          success: function(json){
            location.reload();
          },

          error: function(xhr, errmsg, err){

          }
        });
      })

    </script>

    {% endblock %}
  
   
